<section class="product">
	<h1 class=""> <%= printer.exhortation %> </h1>
	<div class="container">
		<div class="row">
			<div class="product__image col-sm-push-4 col-sm-8 col-xs-12">
				<div class="product__image-wrapper">
					<img src="img/LC10withbull.png" alt="LC10withbull">
				</div>
			</div>
			<div class="product__wrapepr col-sm-pull-8 col-sm-4 col-xs-12">
				<article class="product__article">
				<h2 class="product__caption"><%= printer.name %></h2>
				<hr>
				<p class="product__text"><%= printer.motivation %></p>

				</article>
				<div class="purchase">
					<h3>цена</h3>
					<p class='purchase__price'><%= printer.price %>$</p>
					<a href="#"><button class="btn" data-id="<%= printer._id %>">Купить</button></a>
					<p><strong>Note: </strong><%= printer.note %></p>
				</div>
			</div>
		</div>
		<hr>
		<div class="product__adventages">
			<p><%= printer.description %></p>

      <div class="row">
  			<div class="product__adventages-section col-sm-6">
  				<div class="row">
  						<img class="col-sm-6 col-xs-12" src="<%= printer.featureImage1 %>" alt="LC10Display">
  						<article class="product__adventages_article col-sm-6">
  							<h3><%= printer.featureTitle1 %></h3>
  							<p><%= printer.featureDescr1 %></p>
  						</article>
  				</div>
  			</div>
        <div class="product__adventages-section col-sm-6">
          <div class="row">
              <img class="col-sm-6 col-xs-12" src="<%= printer.featureImage2 %>" alt="LC10Display">
              <article class="product__adventages_article col-sm-6">
                <h3><%= printer.featureTitle2 %></h3>
                <p><%= printer.featureDescr2 %></p>
              </article>
          </div>
  			</div>
    	</div>
      <div class="row">
        <div class="product__adventages-section col-sm-6">
          <div class="row">
              <img class="col-sm-6 col-xs-12" src="<%= printer.featureImage3 %>" alt="LC10Display">
              <article class="product__adventages_article col-sm-6">
                <h3><%= printer.featureTitle3 %></h3>
                <p><%= printer.featureDescr3 %></p>
              </article>
          </div>
        </div>
        <div class="product__adventages-section col-sm-6">
          <div class="row">
              <img class="col-sm-6 col-xs-12" src="<%= printer.featureImage4 %>" alt="LC10Display">
              <article class="product__adventages_article col-sm-6">
                <h3><%= printer.featureTitle4 %></h3>
                <p><%= printer.featureDescr4 %></p>
              </article>
          </div>
        </div>
      </div>
		<!-- product__adventages -->
</section>
