<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title></title>
        <link rel="stylesheet" href="css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="css/fractionslider.css"> -->
        <link rel="stylesheet" href="css/jquery.animateSlider.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/main_style.css">
        <link rel="stylesheet" href="css/transicons.css">

    </head>
    <body>
        <%- body %>
        <%-blocks.headernav%>

        <%-blocks.mainslider%>

        <%-blocks.mainblock%>

        <%-blocks.footer%>

    <script src="js/main.js"></script>
    <script src="js/common.js"></script>
    </body>
</html>